<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
</head>
<body>
<h1>도서 등록</h1>
<div>
  <a href="/">홈</a>
</div>

<div>
    <form method="post">
        <table>
            <tbody>
            <tr>
                <th>제품명 : </th>
                <td>
                    <input type="text" name="productName" required>
                </td>
            </tr>

            <tr>
                <th>제품 타입 : </th>
                <td>
                    <select name="productType">
                        <option th:each="productType : ${T(com.example.bookstore.product.entity.ProductType).values()}"
                                th:value="${productType.name()}"
                                th:text="${productType.name()}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>금액 : </th>
                <td>
                    <input type="number" name="price" required>
                </td>
            </tr>

            <tr>
                <th>판매 금액 : </th>
                <td>
                    <input type="number" name="salePrice" required>
                </td>
            </tr>

            <tr>
                <th>제품 설명 : </th>
                <td>
                    <input type="text" name="productDetail" required>
                </td>
            </tr>

            <tr>
                <th>재고 : </th>
                <td>
                    <input type="number" name="stock" min="0" required>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit">등록</button>
        </div>
    </form>
</div>
</body>
</html>